version: '3'
services:
  mysqldb:
    image: mysql:5.6
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: moviesdb
    ports:
      - 3306:3306
    volumes:
      - mysqldb:/data/db
  node:
    restart: always
    build: ./Dockerfile
    ports:
      - 8080:8080
    volumes:
      - ./:/code
volumes:
  mysqldb: